@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@media (max-width:503px){ 

}
 body{
   line-height: 1.5;
  }  

nav{
    text-align: right;
    padding: 2%;
    margin: 0;
    
}
a{
    text-decoration: none;
    color: orange;
    padding: 2%;
    text-align:right;  
    font-size: 18px; 
    transition: color 0.3s ease; 

}
a:hover{
    color:whitesmoke;
}
.home-section{
    display: flex;
    height: 100vh;
    min-height: 500px; 
}

#home{
    margin:auto 0 auto 40px ;
   
}
.nav-home{
    background-image: url("My Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}
.vertical{
    border-left: 3px solid whitesmoke;
            height: 140px;
            position:absolute;
            left: 4%;
           
}
.text1{
    color: whitesmoke;
    font-size: 30px;
    
}
.text2{
    color: whitesmoke;
    font-size: 50px;
    font-weight: 600;
    /* margin-left: -5px; */
    margin-left: 7%;

     clear: both; 
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    
}
.text3{
    color:whitesmoke;
    font-size: 40px;
    margin-left: 7%;
    margin-bottom: 10%;

    clear: both;
    overflow: hidden;
    white-space: nowrap;
}
span{
    color: orange;
    font-weight: 500px;
}
.button{
    color: cornsilk;
    background-color: orange;
    border-radius: 6%;
    font-size: 25px; 
    padding: 12px 36px; 
    margin-left: 7%;
    border: 2px solid orange;
    transition: all 0.3s ease;

}
.button:hover{
    color: whitesmoke;
    background: none;
}

@media (max-width:503px) {
    .home-section{
        margin: 0;

    }
    nav{
        text-align: right;
        padding: 2%;
        margin: 0;
           
    } 
    .text2{
        font-size: 20px;

    }  
    .text3{
        font-size: 18px;

    }
    a{
        font-size: 16px;
    }
    .button{
        font-size:20 ;
        padding: 9px 25px;
    }
}
.about-section{
    background-color: whitesmoke;
    padding: 100px 0;
    /* font-family: ; */
   
}
h2{
    /* font-family: ; */
    text-align: center;
    color: orange;
    font-size: 40px;
    font-weight: 500;
    margin-top: -7%;
  
}
#myimage{
    height: 410px;
    width: 350px;
    /* object-fit: cover; */
}
.content-right{
     width: 50%;
    
  } 
   p{
      text-align: justify;
      font-size: 20px;
      line-height: 200%;

  }
  .about-content{
      display: flex;
      justify-content: space-evenly;

  }
@media (max-width:503px){ 
    .about-section{
        background-color: whitesmoke;
        width: 100%;
        margin: 0;
        margin-bottom: 10%;   
    }
  
}
.projects-section{
    height: 800px;
    margin-bottom: 10%;
    margin-top: 10%; 
   
}
.projects-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin-left: 10%;
   
}
.projects-cards img{
    height: 290px;
    width: 100%;
    text-align: center;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 400px;
    width: 80%;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container{
      text-align: center;
  }
  .container p{
    text-align: center;
   
     
  }

    .contact-section{
      background-color:black;
      margin-top: 20%;
  }
  .contact-content{
      text-align: center;
  }
  #paragraph{
      text-align: center;
      color: whitesmoke;
  }
  h4{
      color: orange;
  }

  .fa{
    padding: 20px;  
    font-size: 50px;  
    width:30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

    }
    .fa:hover{
        opacity:0.6;
     } 
      .fa-github{
      /* background:orange;    */
      color: whitesmoke;
      font-size: 30px;
      height: 10px;
      width: 1%;
     }    
     .fa-twitter{
      /* background:orange;  */
      color:whitesmoke ;  
     }
     .fa-linkedin{
       /* background:  orange;   */
       color: whitesmoke;
     }
     .contact-content a{
         font-size: 30px;
         color:whitesmoke;
     }
 
 

 

 
